@import '_frontend/styles/breakpoints';

.grid {
  clear: fix;
}

@media (--desktop) {
  .gridItem {
    lost-column: 1/3;
  }
}

@media (--tablet) {
  .gridItem {
    lost-column: 1/2;
  }
}

.image {
  width: 100%;
}
